.title {
	font-family: "Amatic SC";
	text-align: center;
	font-size: 36px;
	// margin: 52px;
}
.container{
	max-width: 100%;
	margin: 0px auto;
	box-sizing: content-box;
	padding: 0 15px;
}
body{
	&.lock{
		overflow: hidden;
	}
}

@media (min-width: 1440px) {
	.title {
		font-size: 48px;
		line-height: 61px;
		font-style: normal;
		font-weight: normal;
	}
	.container {
		padding: 0 126px;
	}
}