.footer {
	height: 77px;
	// width: 100%;
	display: flex;
	color: #fff;
	align-items: center;
	justify-content: center;
	background-color: #242424;

	&__content {
	}
	&__text {
		display: block;
	}
}
