.header {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 50;
	&__container {
		display: flex;
		min-height: 72px;
		align-items: center;
		padding: 0px 30px;
		justify-content: space-between;
	}
	&__logo {
		z-index: 2;
		width: 48px;
		height: 43px;
		overflow: hidden;
		img {
			width: 48px;
			max-width: 100%;
		}
	}
	&__burger {
		z-index: 2;
		width: 24px;
		height: 16px;
		display: block;
		position: relative;
		transition: all 0.5s ease 0s;
		background: none;
		span {
			left: 0;
			top: 6.7px;
			width: 100%;
			height: 2.3px;
			position: absolute;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
		&:before, 
		&:after {
			left: 0;
			content: '';
			width: 100%;
			height: 2.3px;
			position: absolute;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
		&:before{
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		&.active{
			transform: translate3d(0px, 800px, 0px);
			span{
				transform: scale(0);
			}
			&:before{
				top: 6.5px;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 6.5px;
				transform: rotate(-45deg);
			}
		}
	}
}
.menu {
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: auto;
	position: fixed;
	// padding: 294px 0px 0px 0px;
	transition: all 0.5s ease 0s;
	&__list {
		display:  flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100vh;
	}
	&__item {
		margin: 0px 0px 20px 0px;
	}
	&__link {
		color: #fff;
		line-height: calc(20 / 14 * 100%);
		&.clicked {
			opacity: 0.7;
			border-bottom: 2px solid;
		}
	}
	&.active {
		top: 0;
		opacity: 0.7;
		background-color: #111;
	}
}