// $subtitle_color: #585858

.sightseens {
	&__item {
		margin-bottom: 55px;
	}
	&__img {
		width: 380px;
		height: 297px;
		margin: 0 auto;
		border-radius: 20px;
		box-shadow:0px 5px 5px;
		margin-bottom: 25px;
	}
	&__title {
		color: #585858;
		font-weight: 500;
		line-height: 28px;
		font-style: normal;
		margin-bottom: 28px;
		text-decoration-line: underline;
	}
	&__text {
		// padding: 0px 16.5px;
		font-size: 14px;
		line-height:16px
	}
}